<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Fred</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9643693190346556"
        crossorigin="anonymous"></script>

</head>

<body>
    BEFORE

    <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-9643693190346556"
        data-ad-slot="9247958534"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <hr />
    <%- body %>
        <hr />
        AFTER

        <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed"
            data-ad-client="ca-pub-9643693190346556" data-ad-slot="9247958534"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
</body>

</html>