<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Fred</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9643693190346556"
        crossorigin="anonymous"></script>


</head>

<body>
    <iframe src="//www.africanews.com/embed/timeline" scrolling="no" frameborder="0"
        style="min-height:425px; width:100%; height:100%;"></iframe>
    <div>
        <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed"
            data-ad-client="ca-pub-9643693190346556" data-ad-slot="9247958534"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <!-- 24-7 Press Release Newswire Landing Page Widget Code Starts Here -->
    <script type="text/javascript"
        src="https://news.24-7pressrelease.com/247pr-news-widget.js?widgettitle=News Provided by 24-7PressRelease.com&amp;categories=325,82,83,326,327,85,86,328,87,88,89,329,330,90,331,91,332,92,93,94,95,96,98,99,100,102,106,107,333,334,335,336,489,337,108,300,338,109,110,139,339,171,111,112,340,341,113,342,343,114,344,115,345,319,116,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,104,362,363,136,368,157,369,370,237,366,282,124,372,123,373,374,375,376,377,379,125,380,381,382,281,324,224,126,127,128,129,130,121,131,194,383,384,385,386,387,138,388,389,390,391,226,392,241,393,394,395,396,487,411,412,159,158,413,414,415,160,161,277,162,486,163,410,164,165,167,278,174,175,176,81,103,105,117,178,118,179,304,180,306,133,134,140,142,141,169,172,173,192,193,309,181,418,182,183,419,228,230,232,233,184,239,185,242,313,186,187,245,188,189,421,243,191,279,280,423,424,425,427,428,430,431,432,433,195,434,296,435,436,437,438,439,440,196,441,246,442,443,317,444,445,446,197,447,448,198,199,200,201,290,202,203,204,205,206,208,209,210,449,211,207,450,212,213,214,451,452,453,216,217,454,218,455,219,220,456,221,457,222,247,248,464,465,295,119,466,467,469,135,471,472,473,484,474,227,249,478,488,323,485,251,252,254,255,253,257,258,259,250,260,261,262,263,265,266,268,269,271,273,275,481,482,490,143,144,398,146,147,148,149,399,400,150,401,151,231,152,402,403,404,153,154,405,406,155,407,409,&amp;showRelease=1&amp;width=auto&amp;headlinebold=1&amp;headlinesonly=0&amp;headlinecolor=3c4d6e&amp;briefcolor=666666&amp;textcolor=4a4a4a&amp;typeface=verdana&amp;fontsize=11&amp;width=auto&amp;headlinesepstyle=solid&amp;showimages=1&amp;numstories=20&amp;bgcolor=ffffff&amp;urldest=247pr"></script>
    <!-- 24-7 Press Release Newswire Landing Page Widget Code Ends Here -->
    BEFORE


    <iframe src="//www.africanews.com/embed/timeline" scrolling="no" frameborder="0"
        style="min-height:425px; width:100%; height:100%;"></iframe>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-23b6fef8-e551-45f0-99f8-e03ef7410e85"></div>
    <hr />
    <%- body %>
        <hr />
        AFTER

        <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed"
            data-ad-client="ca-pub-9643693190346556" data-ad-slot="9247958534"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
</body>

</html>